.cabecalho__menu--hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;

}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.container {
    display: flex;
    align-items: center;

}

.container__botao {
    display: none;

}

.container__imagem {
    padding: 1em;

}

.lista__menu {
    display: none;
    width: 60vw;

}

.container__botao:checked ~ .lista__menu {
    display: block;
    position: absolute;
    top: 100%;

}

.lista__menu-titulo,
.lista__menu-item {
    padding: 1em;
    background-color: var(--branco);
    text-transform: uppercase;

}

.lista__menu-link {
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.lista__menu-titulo {
    color: var(--laranja);
    font-weight: 700;

}

.container__titulo {
    display: none;

}

.opcoes {
    display: none;

}

.container__texto {
    display: none;

}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);

    }
 
    .container__titulo {
        display: block;
        font-weight: 400;
        font-size: 30px;

    }

    .container__titulo--negrito {
        font-weight: 700;

    }

    .opcoes {
        display: flex;

    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;

    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);

    }

    .container__imagem--transparente {
        display: none;

    }

    .cabecalho__menu--hamburguer {
        display: none;

    }

    .opcoes__botao:checked ~ .lista__menu {
        display: block;
        width: auto;
        position: absolute;
        top: 100%;

    }

    .opcoes__botao {
        display: none;

    }

}

@media screen and (min-width: 1728px) {

    .cabecalho {
        padding: 0 2em;

    }

    .opcoes {
        margin-right: auto;

    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);

    }

    .icones {
        display: flex;
    

    }
    
    .container__texto {
        display: block;

    }

}